<div class = "container">
  <h1 class = "text-center py-2" ><%= @list.name%></h1>
    <div class = "row container-body justify-center">
      <div class = "card-container row col-lg-9 col-sm-12 mx-0 px-0 sortable">
        <%=render "card", list: @list%>
      </div>
      <div class = "add-movie-container col-lg-3 align-self-start px-1">
        <%= render "bookmarks/modal", list: @list, bookmark: @bookmark %>
        <%= button_to "Delete This List", {
  action: "destroy"}, method: :delete, data:{confirm: "Are you sure?"}, class: "button_submit m-3"%>
</div>
      </div>
    </div>
  </div>
